<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1 align="center">수정</h1>
	<form action="updateres" method="post">
		<input type="hidden" value="${dto.myno}" name="myno">
		<table border="1" style="margin-left: auto; margin-right: auto">
			<tr>
				<th>작성자</th>
				<td th:text="${dto.myname}">myname</td>
			</tr>
			<tr>
				<th>제목</th>
				<td>
				<input type="text" th:value="${dto.mytitle}" name="mytitle">
				</td>
			</tr>
			<tr>
				<th>내용</th>
				<td >
				<textarea rows="10" cols="60"name="mycontent" th:text="${dto.mycontent}">mycontent</textarea></td>
			</tr>
			<tr>
				<td colspan="2" align="right"><input type="submit"
					value="update"> <input type="button" value="cancle"
					onclick="location.href='detail?myno=${dto.myno}'"></td>
			</tr>



		</table>
	</form>

</body>
</html>