<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 홍길동,250,개발팀 -->

	<bean id="hong" class="com.test04.Emp">
		<property name="name" value="홍길동" />
		<property name="salary" value="250" />
	</bean>
	<bean id="honggd" class="com.test04.Developer">
		<constructor-arg ref="hong" /><!-- emp타입의 객체생성 -->
		<constructor-arg value="개발팀" />
	</bean>
	<!-- 이순신,200,기술팀 -->
	<bean id="lee" class="com.test04.Emp">
		<property name="name" value="이순신" />
		<property name="salary" value="200" />
	</bean>
	<bean id="leess" class="com.test04.Engineer">
		<constructor-arg ref="lee" />
		<constructor-arg value="기술팀" />
	</bean>


</beans>
